<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Form</title>
  </head>
  <body>
    
      <form method="post" action="/create-account/post">
          
          
          <div>Nome: <input type="text" name="nome" value=""/></div>
          <div>E-mail: <input type="text" name="email" value=""/></div>
          <div>Senha: <input type="password" name="senha" value=""/></div>
          <div>Nome da República: <input type="text" name="grupo" value=""/></div>
          
          <input type="submit" value="Enviar"/>
          
      </form>
      
      
  </body>
</html>